{% extends 'base.html' %}
{% load static %}
{% block banner_title %}Acerca de mí{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <img src="{% static 'assets/img/esta_soy_yo.jpeg' %}" alt="Esta soy yo" class="profile-image">
        <p>Mi nombre es Virginia Centurion, soy ingeniera química. 
            Soy versátil y proactiva, destaco en la gestión eficiente de múltiples tareas simultáneas. 
            Mi trayectoria se ha forjado en ambientes laborales que priorizan el compromiso y la colaboración en equipo, aspectos en los que me desenvuelvo con naturalidad. 
            Me defino por mi dinamismo, iniciativa y entusiasmo.</p><br>
    </div>
{% endblock %}
